<link rel="stylesheet" href="styles.css">

<h1>Your search yielded the following</h1><br>
<div class="search">
  <form class="" action="../search" method="POST">
    <input type="text" class="form-control" name="searchTerm" placeholder="Search" required>
    <button type="submit" class="btn btn-default searchbutton" id="search-btn" name="button">Search</button>
  </form>
</div>
<% include listprodscript %>
