<html>
  <head>
    <meta charset="utf-8">
    <title>Add a product to your profile!</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="styles.css" charset="utf-8">
    <script type="text/javascript" src="product.js"></script>
  </head>
  <body>
    <% include ../navbar/nav %>
    <div class="container">
      <br>
      <h1>Add a new product you wish to have off your shelf!</h1>
      <form class="addProd" action="addprod" method="POST">
        <input type="text" name="email" id="emailsubmit" value="" style="display: none" readonly>
        Product name: <input type="text" class="form-control textInput" name="name" placeholder="Product Name (Dosage) [Amount]">
        Product cost: <input type="text" class="form-control textInput" name="cost" placeholder="Cost in $">
          <% if(!costNum) { %>
            <% include ../error/nonnum %>
          <% } %>
        Stock: <input type="text" class="form-control textInput" name="stock" placeholder="Quantity Number">
          <% if(!stockNum) { %>
            <% include ../error/nonnum %>
          <% } %>
        Sell by: <input type="date" class="form-control textInput" name="sellBy" placeholder="yyyy-mm-dd">
          <% if(badProd) { %>
            <% include ../error/badprod %>
          <% } %>
        <button type="submit" class="btn btn-default productButtons" name="button">Add product!</button>
        <button type="button" class="btn btn-default productButtons" id="resetValues" name="">Clear</button>
      </form>
    </div>
  </body>
</html>
