<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="styles.css" charset="utf-8">
  </head>
  <body>
    <% include ../navbar/nav %>
    <div class="container">
      <h1>some products listed here or some shit</h1>
        <% include ../components/listprofileprods %>
    </div>
  </body>
</html>
