<h1>Your search yielded no results, please try again</h1>

<form class="" action="../search" method="POST">
  <input type="text" class="form-control" name="searchTerm"><br>
  <button type="submit" class="btn btn-default" name="button">Search</button>
</form>
