<form class="navbar-form navbar-right" id="loginform" method="POST" action="login">
  <div class="form-group">
    <input type="text" class="form-control" name="email" id="username" placeholder="Username" required>
    <input type="password" class="form-control" name="password" id="pass" placeholder="Password"required>
  </div>
  <button class="btn btn-default" type="submit" name="button" id="signinbutton">Sign In</button>
  <a href="signup" id="loginForm"><button class="btn btn-default" type="button" name="button" id="signupbutton">Sign Up</button></a>
  <% if(!valid) { %>
    <% include invalidpw %>
  <% } %>
</form>
