<div class="navbar-right" id="loggedIndisplay">
  <!-- <a href="editprofile" id="displayusername"> <%= profile.name %> </a> -->

  <script type="text/javascript">
  function toggleMenu() {
    document.getElementById("myDropdown").classList.toggle("show");
  }
  window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
  </script>

  <div class="dropdown">
    <button onclick="toggleMenu()" class="btn btn-primary dropdown-toggle dropbtn"><%= profile.name %> <span class="caret"></span></button>
    <div id="myDropdown" class="dropdown-content">
      <a href="editprofile">Edit Profile</a>
      <a href="addproduct">Add Products</a>
      <a href="prodlist">Product List</a>
      <form id="logout" class="" action="logout" method="POST">
        <a href="javascript:{}" onclick="document.getElementById('logout').submit(); return false;">Logout</a>
      </form>
    </div>
  </div>

</div>
