<div class="container-fluid">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header ">
      <a class="navbar-brand" href="index">
        <img src="img/logo.png" alt="carolynpls">
      </a>
    </div>
    <% if(profile) { %>
        <% include loggedin %>
    <% } else { %>
        <% include loggedout %>
    <% } %>
  </nav>
</div>
