<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Profile</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="styles.css" charset="utf-8">
    <script type="text/javascript" src="editProfile.js"></script>
  </head>
  <body onload="setCurrents()">
    <div class="container-fluid">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
          <a class="navbar-brand" href="../">
            <img src="non.jpg" alt="carolynpls">
          </a>
        </div>

        <form class="navbar-form navbar-right" action="index.html" method="post">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Username">
            <input type="password" class="form-control" placeholder="Password">
          </div>
          <button class="btn btn-default" type="submit" name="button" >Sign In</button>
          <a href="#" id="loginForm"><button class="btn btn-default" type="button" name="button">Sign Up</button></a>
        </form>
      </nav>
    </div>

    <div class="container">
      <form class="editProfile" action="/api/profiles?_method=PUT" method="POST">
        <h3>Login Information</h3>
        Name: <input type="text" class="currentInfo" id = "currentName" name="name" readonly></input>
        <input type="text" class="form-control textInput" name="editname" placeholder="New name">

        Email: <input type="text" class="currentInfo" id = "currentEmail" name="email" readonly></input>
        <input type="text" class="form-control textInput" name="editemail" placeholder="New email">

        Password:
        <div class="passwordInfo">Current Password:</div>
        <input type="password" class="form-control textInput" name="currentpass" id="currentPass" placeholder="Current Password">
        <div class="passwordInfo">New Password</div>
        <div class="error"></div>
        <input type="password" class="form-control textInput" name="newpass" placeholder="New Password" id="newPassword">
        <input type="password" class="form-control textInput" name="confirmpass" placeholder="Confirm New Password" id="newPasswordConfirm">

        <h3>Business Information</h3>
        Street Number: <input type="text" class="currentInfo" id = "currentStreetNum" name="streetnum" readonly></input>
        <input type="text" class="form-control textInput" name="editstreetnum" placeholder="New Street Number">

        Street Name: <input type="text" class="currentInfo" id = "currentStreet" name="streetname" readonly></input>
        <input type="text" class="form-control textInput" name="editstreetname" placeholder="New Street Name">

        Country: <input type="text" class="currentInfo" id = "currentCountry" name="country" readonly></input>
        <input type="text" class="form-control textInput" name="editcountry" placeholder="New name">

        City: <input type="text" class="currentInfo" id = "currentCity" name="city" readonly></input>
        <input type="text" class="form-control textInput" name="editcity" placeholder="New name">

        <div class="container-fluid">
          <button type="submit" class="btn btn-default productButtons" name="">Submit</button>
          <button type="button" class="btn btn-default productButtons" name="">Cancel</button>
        </div>

      </form>
    </div>
  </body>
</html>
